html,
body {
   background-color: #000000;
}

header {
    background: url("Programming-Language-Popularity.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
}

H1 {
    margin-top: auto;
    padding-top: 15%;
    text-align: center;
    font-size: 7em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

H1:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

nav li {
    float: left;
}

a {

    font-size: 1.1em;
    display: block;
    color: #fff;
    text-align: center;
    padding: 40px 27px;
    text-decoration: none;

}

nav li:hover {
    border-radius: 4px;
    background-color: #ffa7f3;
}


section {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 80%;
    float: left;
    height: 100vh;
    margin-top: 5%;
   
}

img {
    max-width: 100%;
    height: 100vh;
    display: block;
    margin: auto;

}


aside {
    background: url(bricks-wall-background-wallpaper-preview.jpg);
    width: 19%;
    height: 100vh;
    float: right;
    margin-top: 5%;
    margin-bottom: 3%;
}

aside p {
    font-size: 1.7em;
    display: block;
    color: rgb(255, 253, 223);

    text-align: center;
    padding: 40px 27px;
    text-decoration: none;
    font-family: 'Moon Dance', cursive;
}

aside h4 {
    font-size: 2em;
    display: block;
    color: rgb(255, 253, 223);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

aside ol {
    font-size: 2em;
    display: block;
    color: rgb(255, 253, 223);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20%;
}

footer {
    align-items: center;
    background-color: #000000;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 2em;
    height: 80px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

footer:hover {
    background-color: #ffa7f3;

}