html,
header {
    height: 7vh;
    background-color: #000;

}


H1 {
    margin-top: auto;
    margin-right: 30px;
    float: right;
    font-size: 5em;
    color: #ff30a9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    background-color: #000;
    ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

a {
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-align: center;
    padding: 40px 27px;
    text-decoration: none;
}

nav li:hover {
    border-radius: 4px;
    background-color: #ffa7f3;
}

section {
    background-image: url(./caramelo.jpg);    
    display: block;
    width: 100%;
    text-align: center; 
}

 section ol{
    font-size: 25px;
    font-family:  "lucida handwriting";
}

section h2, p{
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;

}


form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;

}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}


video{
    width: 10%;
    height: 10%; 
}


footer {
    align-items: center;
    background-color: #000000;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 2em;
    height: 80px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

footer:hover {
    background-color: #ffa7f3;

}